    <section class="container-fluid" id="main-box">
        <div class="row">
            <div class="col-sm-7 col-md-7" id="main-box-paragraph">
                <h1> اطمح , تعلم , تقدم </h1>
                <p>
                    انضم إلى مجتمع متعلّلمي منصة تحصيل لتحدث نقلة نوعية في مسيرتك التعليمية<br>
                    من خلال البرامج المصممة لتزويدك بالمهارات التي تحتاجها لإستكشاف <br> طاقتك و إمكانيّاتك الذاتية
                </p>
            </div>
            <div class="col-sm-5 col-md-5">
                <img src="../Pictures/headbox-image.svg" alt="" width="100%" height="100%">
            </div>
        </div>
    </section>

    <section class="container-fluid">

        <!--cards-->
        <section class="container" id="cards-main">
            <div class="row" id="cards-main-row">
                <!--col-01 -->
                <div class="col-sm-3 col-md-3 card rounded bg-light shadow">
                    <a href="#college"><img src="../Pictures/img-card-in-home-page/Web 1920 – 3.png" title="الجامعات"
                            alt="" height="90%" width="90%"></a>
                </div>
                <!--col-02 -->
                <div class="col-sm-3 col-md-3 card rounded bg-light shadow">
                    <a href="#library"><img src="../Pictures/img-card-in-home-page/Web 1920 – 1.svg" title="المكتبة"
                            alt="" height="120%" width="120%"></a>
                </div>
                <!--.col-03-->
                <div class="col-sm-3 col-md-3 card rounded bg-light shadow justify-content-center">
                    <a href="#video-lesson"><img src="../Pictures/img-card-in-home-page/Web 1920 – 2.svg"
                            title="الدروس و الشروحات" alt="" height="110%" width="110%"></a>
                </div>
            </div>
        </section>

        <!--paragrph-->
        <section id="main-paragrph" class="container justify-content-center">
            <div class="row">
                <hr id="hr-one">
            </div>
            <div class="row">
                <p>في منصة تحصيل نساعدك على تحصيل أكبر قدر من المعرفة و تحصيل أكبر قدر من الدرجات</p>
            </div>
            <div class="row">
                <hr id="hr-two">
            </div>
        </section>

        <!--content-->
        <section class="container-fluid" id="main-content">

            <hr style="border-color:var(--white); margin:0 ;" id="library">
            <br><br><br><br><br>

            <div class="row">
                <div class="col-sm-7 col-md-7">
                    <h1>المكتبة</h1>
                    <p>
                        تحتوي على أقسام المناهج العلمية و الأدبية و ملخصات ونماذج وزارية الخاصة بطلاب ثالث ثانوي
                    </p>
                    <a href="The_library.html" class="btn btn-info">إبدأ الأن</a>
                </div>
                <div class="col-sm-5 col-md-5">
                    <img src="../Pictures/main-content-pic-for-library.png" alt="" width="90%">
                </div>
            </div>

            <hr style="border-color:var(--white) ;" id="video-lesson">
            <br><br><br><br><br>

            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <img src="../Pictures//main-content-pic-for-video-les.png" alt="" width="100%">
                </div>
                <div class="col-sm-7 col-md-7">
                    <h1>الدروس والشروحات</h1>
                    <p>
                        تتضمن الكثير من الشروحات و الفديوهات المفيدة و المثمرة للخزينة العلمية للطلاب لمساعدتهم على
                        تحصيل الدرجات العالية
                    </p>
                    <a href="video.lesson.html" class="btn btn-info">إبدأ الأن</a>
                </div>
            </div>

            <hr style="border-color:var(--white) ;" id="college">
            </hr>
            <br><br><br><br><br>

            <div class="row" id="college-ccontent">
                <div class="col-sm-7 col-md-7">
                    <h1>الجامعات</h1>
                    <p>
                        تحتوي على أغلب الجامعات الحكومية في اليمن بالإضافة إلى موقعها و تقيمها محلياً
                    </p>
                    <a href="college.html" class="btn btn-info">إبدأ الأن</a>
                </div>
                <div class="col-sm-5 col-md-5">
                    <img src="../Pictures/main-content-pic-for-college.png" alt="" width="90%">
                </div>
            </div>
        </section>

    </section>