
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--main-box-->
<section id="head-box-college">
    <img src="../Pictures/head-box-college-img.svg" alt="">
</section>

<section id="main-content-college">

    <!--row-01-->
    <div class="row container-fluid justify-content-center">

        <!--cards-of-row-01.1-->
        <div class="col-sm-5 col-md-5 ">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7 ">
                        <h5 class="card-title">جامعة حضرموت</h5>
                        <p class="card-text">
                            الموقع : محافظة حضرموت, المكلا <br>
                            سنة التأسيس : 1993
                        </p>
                        <a href="http://hu.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5 ">
                        <span><img src="../Pictures/logo-of-college/حضرموت.png" alt="صورة لشعار جامعة حضرموت"></span>
                    </div>
                </div>
            </div>
        </div>

        <!--cards-of-row-01.2-->
        <div class="col-sm-5 col-md-5">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة عدن</h5>
                        <p class="card-text">
                            الموقع : محافظةعدن, عدن <br>
                            سنة التأسيس : 1970
                        </p>
                        <a href="http://www.aden-univ.net/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/إب.PNG" alt="صورة لشعار جامعة عدن">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--row-02-->
    <div class="row container-fluid justify-content-center">

        <!--cards-of-row-02.1-->
        <div class="col-sm-5 col-md-5 ">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة صنعاء</h5>
                        <p class="card-text">
                            الموقع : محافظة صنعاء, صنعاء <br>
                            سنة التأسيس : 1970
                        </p>
                        <a href="https://su.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/صنعاء.svg" alt=" صور لشعار جامعة صنعاء">
                    </div>
                </div>
            </div>
        </div>

        <!--cards-of-row-02.2-->
        <div class="col-sm-5 col-md-5">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة تعز</h5>
                        <p class="card-text">
                            الموقع : محافظة تعز, تعز <br>
                            سنة التأسيس : 1993
                        </p>
                        <a href="http://taiz.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/تعز.svg" alt=" صورة لشعار جامعة تعز">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--row-03-->
    <div class="row container-fluid justify-content-center">

        <!--cards-of-row-03.1-->
        <div class="col-sm-5 col-md-5 ">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة الحديدة</h5>
                        <p class="card-text">
                            الموقع : محافظة الحديدة, الحديدة <br>
                            سنة التأسيس : 1996
                        </p>
                        <a href="https://hoduniv.net.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/الحديدة.svg" alt=" صور لشعار جامعة الحديدة">
                    </div>
                </div>
            </div>
        </div>

        <!--cards-of-row-03.2-->
        <div class="col-sm-5 col-md-5">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة ذمار</h5>
                        <p class="card-text">
                            الموقع : محافظة ذمار, ذمار <br>
                            سنة التأسيس : 1996
                        </p>
                        <a href="http://www.tu.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/ذمار.PNG" alt=" صورة لشعار جامعة ذمار">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--row-04-->
    <div class="row container-fluid justify-content-center">

        <!--cards-of-row-04.1-->
        <div class="col-sm-5 col-md-5 ">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة إب</h5>
                        <p class="card-text">
                            الموقع : محافظة إب, إب <br>
                            سنة التأسيس : 1996
                        </p>
                        <a href="http://www.ibbuniv.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/إب.PNG" alt=" صور لشعار جامعة إب">
                    </div>
                </div>
            </div>
        </div>

        <!--cards-of-row-04.2-->
        <div class="col-sm-5 col-md-5">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة عمران</h5>
                        <p class="card-text">
                            الموقع : محافظة عمران, عمران <br>
                            سنة التأسيس : 2005
                        </p>
                        <a href="https://amu.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/عمران.png" alt=" صورة لشعار جامعة عمران">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--row-05-->
    <div class="row container-fluid justify-content-center">

        <!--cards-of-row-05.1-->
        <div class="col-sm-5 col-md-5 ">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <br>
                        <h5 class="card-title">جامعة إقليم سبأ</h5>
                        <p class="card-text">
                            الموقع : محافظة مأرب, مأرب <br>
                            سنة التأسيس : 2016
                        </p>
                        <a href="http://www.usr.ac/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/سبأ.PNG" alt="صورة لشعار جامعة إقليم سبأ">
                    </div>
                </div>
            </div>
        </div>

        <!--cards-of-row-05.2-->
        <div class="col-sm-5 col-md-5">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة سيئون</h5>
                        <p class="card-text">
                            الموقع : محافظة حضرموت, سيئون <br>
                            سنة التأسيس : 2017
                        </p>
                        <a href="http://seiyunu.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/سيؤن.PNG" alt=" صورة لشعار جامعة سيئون">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--row-06-->
    <div class="row container-fluid justify-content-center">

        <!--cards-of-row-06.1-->
        <div class="col-sm-5 col-md-5 ">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <br>
                        <h5 class="card-title">جامعة أبين</h5>
                        <p class="card-text">
                            الموقع : محافظة أبين, زنجبار <br>
                            سنة التأسيس : 2018
                        </p>
                        <a href="https://www.abyan-univ.net/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/أبين.PNG" alt="صورة لشعار جامعة أبين">
                    </div>
                </div>
            </div>
        </div>

        <!--cards-of-row-06.2-->
        <div class="col-sm-5 col-md-5">
            <div class="card card-college">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title">جامعة جبلة للعلوم الطبية والصحية</h5>
                        <p class="card-text">
                            الموقع : محافظة إب, جبلة <br>
                            سنة التأسيس : 2019
                        </p>
                        <a href="https://jums.edu.ye/" class="btn btn-primary">زيارة</a>
                    </div>
                    <div class="col-5">
                        <img src="../Pictures/logo-of-college/جبلة.png" alt=" صورة لشعار جامعة جبلة للعلوم الطبية والصحية">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--row-07-->
    <div class="row container-fluid justify-content-center">
        <!--cards-of-row-07.1-->
        <div class="card col-sm-5 col-md-5 card-college" id="card-of-shabwah-uni">
            <div class="row">
                <div class="col-7">
                    <h5 class="card-title">جامعة شبوة</h5>
                    <p class="card-text">
                        الموقع : محافظة شبوة, عتق <br>
                        سنة التأسيس : 2021
                    </p>
                    <a href="https://shu.edu.ye/" class="btn btn-primary">زيارة</a>
                </div>
                <div class="col-5">
                    <img src="../Pictures/logo-of-college/شبوة.png" alt="صورة لشعار جامعة شبوة">
                </div>
            </div>
        </div>
    </div>

</section>
