
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="card-head-library">
    <img src="../Pictures/head-box-library-img.svg" alt="الصورة غير موجودة">
</section>

<section id="accordion-01">
    <!--card-->
    <div class="accordion">
        <!--العلمي-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingone">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    المواد العلمية
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse background-Color-accordion" aria-labelledby="headingone" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="container main-container">

                        <!--row-01-->
                        <div class="row justify-content-center ">

                            <!--cards-of-row-01.1-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/رياضيات-علمي.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الرياضيات</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.2-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/الاحياء.jpg" alt="الصورة غير موجودة" height="120%">
                                <div class="card-body">
                                    <h5 class="card-title">الأحياء</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.3-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/فيزياء.jpg" alt="صورة لمادة معين">
                                <div class="card-body">
                                    <h5 class="card-title">الفيزياء</h5>
                                </div>
                                <ul>
                                    <a href="../Books/physics material/physics.pdf" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="../Books/physics material/physics_activity.pdf" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="../Books/physics material/physics_summary.pdf" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="../Books/physics material/physics_test_2019.pdf" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.4-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/كيمياء.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الكيمياء</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--أدبي-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    المواد الأدبية
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse background-Color-accordion" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container main-container">

                        <!--row-01-->
                        <div class="row justify-content-center ">

                            <!--cards-of-row-01.1-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/رياضيات.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الرياضيات</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.2-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/الادابjpg.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title"> الأدب والنصوص والنقد</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.3-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/مبادئ الفلسفة.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">مبادئ الفلسفة</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.4-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/المنطق والمناهج.jpg" alt="الصورة غير موجودة" height="65%">
                                <div class="card-body">
                                    <h5 class="card-title">المنطق ومناهج البحث العلمي</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>
                        </div>

                        <!--row-02-->
                        <div class="row justify-content-center ">

                            <!--cards-of-row-02.1-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/تاريخ.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">تاريخ</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-02.2-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/جغرافيا.jpg" alt="الصورة غير موجودة" width="100%">
                                <div class="card-body">
                                    <h5 class="card-title">جغرافية العالم المعاصر</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-02.3-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/علم_النفس.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">علم النفس</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>

                                </ul>
                            </div>

                            <!--cards-of-row-02.4-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/مبادئ الفلسفة.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">مبادئ علم الخرائط</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--العام-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    المواد العامة
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse background-Color-accordion" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="container main-container">

                        <!--row-01-->
                        <div class="row justify-content-center ">

                            <!--cards-of-row-01.1-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/english.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الانجليزي</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.2-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/الايمانjpg.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الإيمان</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.3-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/السيرةjpg.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">السيرة النبوية</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-01.4-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/احديثjpg.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الحديث والفقه</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>
                        </div>

                        <!--row-02-->
                        <div class="row justify-content-center ">

                            <!--cards-of-row-02.1-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/القران.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">القران الكريم وعلومه </h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-02.2-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/النحووالصرف.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">النحو والصرف</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                            <!--cards-of-row-02.3-->
                            <div class="col-2 card rounded shadow accordion-cards">
                                <img src="../Pictures/غلافات الكتب/الادابjpg.jpg" alt="الصورة غير موجودة">
                                <div class="card-body">
                                    <h5 class="card-title">الأدب والنصوص والنقد</h5>
                                </div>
                                <ul>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الطالب</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>كتاب الأنشطة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>تلخيص المادة</li></a>
                                    <a href="" target="_blank" class="btn">
                                    <li>نماذج الاختبارات</li></a>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>

