
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="container-fluid" id="head-box-vid-less">
        <img src="../Pictures/head-box-video-less.svg" alt="">
    </section>

    <section class="container-fluid" id="main-content-vid-less">

        <section class="row justify-content-center" style="margin-top: 3em;">

            <div class="accordion col-sm-5 col-md-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion_01" aria-expanded="false" aria-controls="accordion_01">
                            الرياضيات
                        </button>
                    </h2>
                    <div id="accordion_01" class="accordion-collapse collapse background-Color-accordion"
                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <h6>الاعداد المركبه <a
                                            href="https://www.youtube.com/watch?v=gDW2bOlpvVs&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=77"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>المعادلات من الدرجه الثانيه <a
                                            href="https://www.youtube.com/watch?v=OF6f4PAS4oA&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=80"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>التكامل المحدد <a
                                            href="https://www.youtube.com/watch?v=PO2CLKkKmnw&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=30"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>القيم القصوى <a
                                            href="https://www.youtube.com/watch?v=RbazGekomgw&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=47"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>انسحاب المحور <a
                                            href="https://www.youtube.com/watch?v=Fj_eO0V0IDQ&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=40"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>مبرهنه الحد <a
                                            href="https://www.youtube.com/watch?v=TDiv6sct4L8&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=37"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>التكامل (علمي) <a
                                            href="https://www.youtube.com/watch?v=PO2CLKkKmnw&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=30"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>مبدأ العد (أدبي) <a
                                            href="https://www.youtube.com/watch?v=7JuswjPqEG8&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=4"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الاحصاء (أدبي) <a
                                            href="https://www.youtube.com/watch?v=tPtddb7WL6E&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=61"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>مقياس التشدد (أدبي)<a
                                            href="https://www.youtube.com/watch?v=KCayuSTJqII&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=51"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion col-sm-5 col-md-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion_02" aria-expanded="false" aria-controls="accordion_02">
                            الفيزياء
                        </button>
                    </h2>
                    <div id="accordion_02" class="accordion-collapse collapse background-Color-accordion"
                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <h6> سرعه الافلات <a
                                            href="https://www.youtube.com/watch?v=z4S5YRZiQDc&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=17"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>كميه التحرك الزاوي <a
                                            href="https://www.youtube.com/watch?v=gGgVCOJfxBk&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=20"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الدينامو <a
                                            href="https://www.youtube.com/watch?v=Rz6NvHA07_E&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=34"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الأجهزة الالكترونية <a
                                            href="https://www.youtube.com/watch?v=u-2nGYlPOjU&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=38"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>القمر الصناعي <a
                                            href="https://www.youtube.com/watch?v=PbBnJPtSkjc&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=75"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>التوصيل الكهربائي في الغازات <a
                                            href="https://www.youtube.com/watch?v=8ezFj4OfFT0&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=49"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="row justify-content-center">

            <div class="accordion col-sm-5 col-md-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed background-Color-accordion" type="button"
                            data-bs-toggle="collapse" data-bs-target="#accordion_03" aria-expanded="false"
                            aria-controls="accordion_03">
                            الكيمياء
                        </button>
                    </h2>
                    <div id="accordion_03" class="accordion-collapse collapse background-Color-accordion"
                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <h6>الفيزياء الذرية <a
                                            href="https://www.youtube.com/watch?v=_CArtdVcBPo&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=53"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الجسيمات النوويه <a
                                            href="https://www.youtube.com/watch?v=xBkRUGWF7dE&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=5"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>العناصر الانتقاليه <a
                                            href="https://www.youtube.com/watch?v=yLa3nZm3oyY&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=8"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الكيمياء الحيويه <a
                                            href="https://www.youtube.com/watch?v=Ir4To3X9okY&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=36"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>انواع الخلايا الجلفانيه <a
                                            href="https://www.youtube.com/watch?v=lHi8v7vdy9c&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=62"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الخلايا الكهرومائية <a
                                            href="https://www.youtube.com/watch?v=ivQOdUnA4C8&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=65"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>التفاعلات الكيمائيه <a
                                            href="https://www.youtube.com/watch?v=169LsQu983Q&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=69"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>الطاقه الحراريه <a
                                            href="https://www.youtube.com/watch?v=4138_CqM_do&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=72"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>السعه الحراريه والحراره النوعيه <a
                                            href="https://www.youtube.com/watch?v=5OX853g_7W8&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=74"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion col-sm-5 col-md-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion_04" aria-expanded="true" aria-controls="accordion_04">
                            الانجليزي
                        </button>
                    </h2>
                    <div id="accordion_04" class="accordion-collapse collapse background-Color-accordion"
                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <h6>Language review 1 <a
                                            href="https://www.youtube.com/watch?v=r4k42_B8ZI0&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=2"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>Language review 2 <a
                                            href="https://www.youtube.com/watch?v=nnBEd2e7RRo&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=23"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>Language review 3 <a
                                            href="https://www.youtube.com/watch?v=jYoNvxuSMZY&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=28"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>Language review 8 <a
                                            href="https://www.youtube.com/watch?v=hHVN98Q6ZBQ&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=58"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>Language review 10 <a
                                            href="https://www.youtube.com/watch?v=esx-KRFXfYk&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=45"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="row justify-content-center">

            <div class="accordion col-sm-5 col-md-5" id="accordionExample" style="margin-bottom: 3em;">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion_06" aria-expanded="false" aria-controls="accordion_06">
                            اللغة العربية
                        </button>
                    </h2>
                    <div id="accordion_06" class="accordion-collapse collapse background-Color-accordion"
                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <h6>المفعول المطلق <a
                                            href="https://www.youtube.com/watch?v=yrWh-vJF6Mw&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=1"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>المفعول فيه 1 <a
                                            href="https://www.youtube.com/watch?v=zynuS-mkqpk&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=9"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>المفعول فيه 2 <a
                                            href="https://www.youtube.com/watch?v=rCKIh8jHnzo&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=14"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>المفعول معه <a
                                            href="https://www.youtube.com/watch?v=ymhvvem9gRk&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=27"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>المستتنى بالا وغير وسوى <a
                                            href="https://www.youtube.com/watch?v=uwz_Yn2MTjs&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=33"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>البدل <a
                                            href="https://www.youtube.com/watch?v=Af_1Jk4aYTQ&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=35"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>العدد ومعدوده <a
                                            href="https://www.youtube.com/watch?v=jee53BfXXLM&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=43"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                                <li>
                                    <h6>التوكيد <a
                                            href="https://www.youtube.com/watch?v=un6fpymvz2A&list=PLK0c0j2FD82ghElWdrli9Np1ghTmxR42c&index=46"
                                            class="btn btn-sm"> اضغط هنا</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </section>
